html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

#button_container {
  width: 20%;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

#pcd_vis_container {
  width: 80%;
  height: 100%;
}

#upload_pcd_button {
  width: 80%;
  padding: 10px;
  font-size: 1.2em;
  margin-top: 10px;
}